/* =============================================================================== */
/* =================================== GENERAL =================================== */


html, body {
    font-family: "warnock-pro", serif;
    background: #ffe8c4;
    background-image: url(../images/background.jpg);
    background-size: contain;
}

header, footer {
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

header {
    height: 200px;
    background-image: url(../images/header.jpg);
    background-size: 1600px 200px;
    margin-bottom: 40px;
    background-position: top center;
}

footer {
    height: 400px;
    background-image: url(../images/footer.jpg);
    background-size: 1600px 400px;
    background-position: bottom center;
}

header:after, footer:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background: #FFF;
    height: 10px;
    z-index: 2;
}

header:after {
    bottom: -10px;
    box-shadow: 0px -2px 10px rgba(0,0,0,.7);
}

footer:after {
    top: -10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,1);
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
}


/* ================================================================================ */
/* =================================== TIMELINE =================================== */

section {
    width: 720px;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

body section:last-of-type {
    border: none;
}

.middle {
    width: 400px;
    position: relative;
    padding-left: 140px;
    margin: 40px auto;
    min-height: 110px;
}

section .icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;

    background-size: cover;

    border: 5px solid #FFF;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5), inset 0 1px 3px rgba(0,0,0,0.8), inset 10px 10px 20px rgba(255,255,255,0.5);
}

section h2 {
    font-size: 20px;
    font-family: "trajan-pro-3";
    line-height: 1.2;
    padding-top: 6px;
    margin: 0 0 12px;
}

section h2 .year {
    font-size: 16px;
    font-family: "trajan-pro-3";
    color: rgba(0,0,0,0.25);
}



/* ============================================================================== */
/* =================================== FAMILY =================================== */

#sidebar {
    position: fixed;
    width: 80px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    z-index: 10;
}

.family {
    width: 2px;
    height: 100%;
    background: rgba(0,0,0,0.4);
    bottom: 0;
    position: absolute;
}

.family .inner {
    width: 8px;
    position: relative;
    left: -3px;
}

#klaus   { background: #2F358B; clip: rect(  0,8px,100%,0); right:    0; }
#nicola  { background: #C1282D; clip: rect( 1%,8px,100%,0); right: 16px; }
#philipp { background: #009245; clip: rect(58%,8px,100%,0); right: 32px; }
#emily   { background: #9E1460; clip: rect(62%,8px,100%,0); right: 48px; }
#henrike { background: #F9B03C; clip: rect(69%,8px,100%,0); right: 64px; }

#klaus   .inner { background: #2F358B; }
#nicola  .inner { background: #C1282D; }
#philipp .inner { background: #009245; }
#emily   .inner { background: #9E1460; }
#henrike .inner { background: #F9B03C; }

.event {
    position: absolute;
    top: 0;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    border: 2px solid #FFF;
    margin: -8px -8px 0 0;
    background-size: 14px 14px;

    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0);

    -webkit-transition: -webkit-transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
       -moz-transition:    -moz-transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition:         transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    background-color: #FFF;
    /*background : -moz-linear-gradient(50% 100% 90deg,rgba(243, 146, 0, 1) 0%,rgba(249, 178, 51, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(243, 146, 0, 1) 0%, rgba(249, 178, 51, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(243, 146, 0, 1) ),color-stop(1,rgba(249, 178, 51, 1) ));
    background : -o-linear-gradient(90deg, rgba(243, 146, 0, 1) 0%, rgba(249, 178, 51, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(243, 146, 0, 1) 0%, rgba(249, 178, 51, 1) 100%);
    background : linear-gradient(0deg, rgba(243, 146, 0, 1) 0%, rgba(249, 178, 51, 1) 100%);*/
}

.event.on {

    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
}


.event.klaus   { right:    0; border-color: #2F358B; }
.event.nicola  { right: 16px; border-color: #C1282D; }
.event.philipp { right: 32px; border-color: #009245; }
.event.emily   { right: 48px; border-color: #9E1460; }
.event.henrike { right: 64px; border-color: #F9B03C; }

.klaus.wedding {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAABV0lEQVRIx82WMWrDMBSGfQQdwVvbhAZTkgydlCVz6F7QEbyUrpk6FXSBgIccIGs3kRPoCDqCj+A+wUt4qLIj1bKI4Vu8fH7S/95zUeR+zg+LDtFAAwiA5RC6NJOIB4SWFqimkDKAAxIwHmk59b3WKLpIVY4wcafSNFU+r745xZEqIuSphF0P6jjbtNmE6+VX9/O4vB7p28uHgvcCYGOFiqAvws/F+1V2enqlH9MCDZAuuYf5dk8DY+U9J7EfXTGONppOW3UJ1IDxSI0bthiZvDVp8B59YhHbczpmrOFx/jniEJnyzFAdMkNBUHmq3cUObxmzJWxoaLoxxSxEqP67GTBUbdDR4t7jCQaIoMnN8vdA7/J+hFH9MyyraXBufZXBvioTyCxNzLYwOJxF38jCVrD7U3r6cLgtnDiPxcqrkMa11ZxGymT05kD5Du9TORPERZOjZ8W9Pr8o4uTvocCX9wAAAABJRU5ErkJggg==);
}

.nicola.wedding {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAABVElEQVR42u2VO2rEMBRFvQQtwV0mhAxmmIFAGlWBqeINBLwEVQmkmiZdQBsIaAMD7kI6MSvQErQELUG5AQcL+SPJnyIQwWlc6PDu0/PL/vS5XG1zUAIOJNDAuiwlYUABG2KOiIIa2BSmiuTIpQrwJlo6pyICxIBEggqQpR5DAXSPSIB8vqErMz0VFal33R7e8ymyU4KgBAIoYH8I9cyN0QAaKaJAA9sSFp68yopIGQN2ADMmdKNkCRH6EtF8J+Oz1sp0Qs+MI1L+I4mNk8f3rY0OkJRRYI6wnhBnnTx7/oNJrFAOtWpMqryRqEJDDaxD0bdNUodeAw4oID1S+Su827/pz82hs7KCm6GVhvm4eWgrBMfdq/3a7OOFTiQiVvqyfepIz9f3uomVpK6nCojAdtePu2fl/2EAy9Y8EHBgPfTa0hIY/+e9tpQAvo4wPKc8+z9Ln29/jeLx+Qv8/wAAAABJRU5ErkJggg==);
}


.birth.klaus   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAANlBMVEX///8AAAAtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwtNYwQjFUCAAAAEXRSTlMAAEAQ3+9QIICfv4/PYHAwr9i1WEQAAADBSURBVHhepc/tCsMgDIXhJcakfrU793+zC7as1Zb92QuC8CAHX/9F32xdlhb88oALPEQd8LTEmgG+owFKXoHccUWinmC7oB2LumMBnxhEuOO6YxrwDWQjRe4WIsJ1kytQgiAFIqtI01daRCx+3hmoYUIKC478+YSuNQK1sdOMboA4Lw/IAk/WCGkTWkKvUChA5ituEXtKRFsG2gUzjrjPq9iJhhGHTf6F2xftjiSHCT2gDpMTkkYnUXpCj5kdTvyvD0O7DAbkw+5JAAAAAElFTkSuQmCC); }
.birth.nicola  { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAANlBMVEX///8AAADBJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy7BJy5Isd9rAAAAEXRSTlMAAEAQ3+9QIICfv4/PYHAwr9i1WEQAAADBSURBVHhepc7ZCoMwEIXhzpKJ2bTn/V+2Q5RqovSmPwQC38WZ13/Rt7guSxP/POACD8EGPC2xZYDvGAEjr0DvuCJRT7FdMB6LtmMBnyiq3HHdMQ34BnIkQ+4mAXLd5AoUUSQhihVpOqgFhOLvnYEqE5IsOEpCM5LUANTGTjO6Aeq8PCArPF0DtE0YE3qFpACZr7gF7BkRbRloF8w44j5vGk+MGHHY5F+4fTHekfQwpQe0YXJCsuCkRk/oMbPDif/1AUO7DAaIzEF/AAAAAElFTkSuQmCC); }
.birth.philipp { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAANlBMVEX///8AAAASkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkUSkkXKeKZ3AAAAEXRSTlMAAEAQ3+9QIICfv4/PYHAwr9i1WEQAAADCSURBVHhepdDZrsMgDATQi21s1qTz/z97KaBmIepLR0JYOg9j+e+3uE9sC6FyGx4w4B2vCw6LpAmgFQ3Q958hK26IYxDsJ7TZqAMz6EAWoY7bwHjBF5DMKVI39uBzJxUgsyCyc1YQbwtVD5/beyWg8A0dB8xEXo/AxQOlUqMFuQDSODwgCVpk85B6Q4voyY4zkOiMu+80brsnoJ4wYYZ6vYodaLjipZO+4f5BW9HJNHEPqEflik49ANEp64WIBkz8Lf9DuwwGdTM9RwAAAABJRU5ErkJggg==); }
.birth.emily   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAANlBMVEX///8AAACeE1+eE1+eE1+eE1+eE1+eE1+eE1+eE1+eE1+eE1+eE1+eE1+eE1+eE1+eE1+eE18808xjAAAAEXRSTlMAAEAQ3+9QIICfv4/PYHAwr9i1WEQAAADCSURBVHhepdBLDsMgDATQYhubb9K5/2VLCWpDiLrpSMiW3mKEH//FfWJbCJXbcoMB73hdsVskTQCtaIC+Z4asuCEei2A/oY1GPTCDvsgi1HE7ME74BJI5RerGHnzupAJkFkR2zgri5SvVw+f2ngkofEHHASOR1yNw8UCp1GhBLoA0DjdIghbZPKRe0CJ6suMMJDrj7jsdt90TUE+YMEK9XsW+aJhx6qRfuH/QVnQyTNwN6lw5o1MPQHTIeiGiAQP/ygtDuwwGaXrbTwAAAABJRU5ErkJggg==); }
.birth.henrike { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAANlBMVEX///8AAAD4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDv4sDtFKV8IAAAAEXRSTlMAAEAQ3+9QIICfv4/PYHAwr9i1WEQAAADBSURBVHhepc7ZCoMwEIXhzpKJ2bTn/V+2Q5RqovSmPwQC38WZ13/Rt7guSxP/POACD8EGPC2xZYDvGAEjr0DvuCJRT7FdMB6LtmMBnyiq3HHdMQ34BnIkQ+4mAXLd5AoUUSQhihVpOqgFhOLvnYEqE5IsOEpCM5LUANTGTjO6Aeq8PCArPF0DtE0YE3qFpACZr7gF7BkRbRloF8w44j5vGk+MGHHY5F+4fTHekfQwpQe0YXJCsuCkRk/oMbPDif/1AUO7DAaIzEF/AAAAAElFTkSuQmCC); }

.abitur.klaus   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAtklEQVRIx2NgGAWjYBQMOaBr2qMAxP1A3ABi09KiBCDeD8T/0fB6IA6gtm/eY7EIHd8n29d4fEMsJuxrEn1DLMbuawp9Q7SvkS1cTwcL52ML0gZoMFAzSAuAWIBQfAZQ4GtQGpgPxAakplQDMi10IDcPzifTwgByLBOgIHs0kFvCNEDxfrKTP4VF3HksKRBUIjlAcQM0VO5Tq1wVQMoy57Eldaia/dSsMQJwWUbLasqAYRQMJgAA7fm4ge+RgEwAAAAASUVORK5CYII=); }
.abitur.nicola  { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAtklEQVRIx2NgGAWjYBQMOXBQXU8BiPuBuAHEpqVFCUC8H4j/o+H1QBxAbd+8x2IROr5Ptq/x+IZYTNjXJPqGWIzd1xT6hmhfI1u4ng4WzscWpA3QYKBmkBYAsQCh+AygwNegNDAfiA1ITakGZFroQG4enE+mhQHkWCZAQfZoILeEaYDi/WQnfwqLuPNYUiCoRHKA4gZoqNynVrkqgJRlzmNL6lA1+6lZYwTgsoyW1ZQBwygYTAAAaaLfGV4jDREAAAAASUVORK5CYII=); }
.abitur.philipp { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAtklEQVRIx2NgGAWjYBQMOSA0yVUBiPuBuAHEpqVFCUC8H4j/o+H1QBxAbd+8x2IROr5Ptq/x+IZYTNjXJPqGWIzd1xT6hmhfI1u4ng4WzscWpA3QYKBmkBYAsQCh+AygwNegNDAfiA1ITakGZFroQG4enE+mhQHkWCZAQfZoILeEaYDi/WQnfwqLuPNYUiCoRHKA4gZoqNynVrkqgJRlzmNL6lA1+6lZYwTgsoyW1ZQBwygYTAAApjGzrvGRU74AAAAASUVORK5CYII=); }
.abitur.emily   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAtklEQVRIx2NgGAWjYBQMOTBPOF4BiPuBuAHEpqVFCUC8H4j/o+H1QBxAbd+8x2IROr5Ptq/x+IZYTNjXJPqGWIzd1xT6hmhfI1u4ng4WzscWpA3QYKBmkBYAsQCh+AygwNegNDAfiA1ITakGZFroQG4enE+mhQHkWCZAQfZoILeEaYDi/WQnfwqLuPNYUiCoRHKA4gZoqNynVrkqgJRlzmNL6lA1+6lZYwTgsoyW1ZQBwygYTAAAXELZTzUGPbsAAAAASUVORK5CYII=); }




/* =============================================================================== */
/* ================================ PHONE DISPLAY ================================ */


@media screen and (max-width:  960px) {
    section { width: auto; margin: 0 120px 0 20px; }
    .middle { width: auto; margin: 40px 20px; }
}

@media screen and (max-width:  660px) {
    .middle { padding-left: 0; margin: 40px 20px; }
    section .icon { position: static; margin: 0 auto 10px auto; }
    section h2, section p { text-align: center; }
    header { height: 160px; background-size: 1280px 160px; }
    footer { height: 320px; background-size: 1280px 320px; }
}

@media screen and (max-width:  620px) {
    header { height: 100px; background-size: 800px 100px; }
    footer { height: 200px; background-size: 800px 200px; }
}
