.version.index /* version checker */
{
	color: #00001D;
	background-color: #6D46E2;
}

.html
{
	background-color: #FFEED1;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 418px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px;
}

#u75-25
{
	z-index: 2;
	width: 600px;
	min-height: 128px;
	background-color: transparent;
	line-height: 72px;
	text-align: center;
	font-size: 60px;
	letter-spacing: 4px;
	font-family: fredericka-the-great, sans-serif;
	font-weight: 400;
	position: relative;
}

#u75-10
{
	color: #009245;
}

#u75-12
{
	color: #29ABE2;
}

#u75-8,#u75-15
{
	color: #9E005D;
}

#u75-2,#u75-16
{
	color: #39B54A;
}

#u75-17
{
	color: #662D91;
}

#u75-3,#u75-9,#u75-18
{
	color: #0071BC;
}

#u75,#u75-5,#u75-14,#u75-19
{
	color: #C1272D;
}

#u75-6,#u75-20
{
	color: #00A99D;
}

#u75-7,#u75-21
{
	color: #8CC63F;
}

#u75-4,#u75-13,#u75-22
{
	color: #FBB03B;
}

#ppu100
{
	width: 0.01px;
	margin-left: 134px;
	margin-top: 118px;
}

#pu100
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u100
{
	z-index: 73;
	width: 90px;
	background-color: transparent;
	position: relative;
}

#u121
{
	z-index: 81;
	width: 90px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u116
{
	z-index: 79;
	width: 90px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u111
{
	z-index: 77;
	width: 90px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u106
{
	z-index: 75;
	width: 90px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u79-46
{
	z-index: 27;
	width: 290px;
	min-height: 211px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: neuton, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

body
{
	position: relative;
	min-width: 640px;
	padding-bottom: 360px;
}

#page .verticalspacer
{
	clear: both;
}

